	<ion-view view-title="Cart" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-cart" class="page-webview page-cart">
		                <div class="card" ng-init="openWebView('http://countyonline.co.ke/cart/index')">
                    <div class="padding">
                    <h2 class="text-center">Welcome</h2>
                    <p class="text-center">countyonline.co.ke</p>
                    <button class="button button-block button-calm" ng-click="openWebView('http://countyonline.co.ke/cart/index')">ENTER</button>
                    </div>
                </div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
