	<ion-view view-title="About" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about" class="padding page-about">
		 
  <div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/home_logo.png" />
    <p>County Online 1.0</p>
  </div>
 
<br/>

<div class="list card">
 
  <a class="item item-icon-left" ng-click="openURL('#')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('#')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Join us on Google+
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('#')" >
    <i class="calm icon ion-social-twitter"></i>
   Follow me on Twitter
  </a>
  
   <a class="item item-icon-left" ng-click="openURL('mailto:info@countyonline.co.ke')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation
    <p>
        Email: info@countyonline.co.ke
    </p>
  </a>
   
</div>

<br/>
<div class="text-center">
<p>&copy; 2016 <a ng-click="openURL('http://countyonline.co.ke/')" >County Online</a><br/>All Rights Reserved</p>
</div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
